.container{
    padding: 20px 0;
    background-color: rgb(30,33,41);
    height: calc(100vh - 144px);
}

mat-card{
    background-color: #E91E63;
    padding: 20px;
    width: 95%;
    box-shadow: 2px;
}