<!-- <amb-item [username]="username" *ngFor="let username of listUsers"></amb-item>

<div *ngFor="let user of listUsers">
  {{ user }}
</div>
 -->

<!-- <amb-page-login></amb-page-login>
<amb-page-medic></amb-page-medic> selectores -->
<ul>
  <li><a routerLink="/dashboard">Dashboard</a></li>
  <li><a routerLink="/users">Users</a></li>
  <li><a routerLink="/medics">Medics</a></li>
  <li><a routerLink="/drivers">Drivers</a></li>
  <li><a routerLink="/histories">Histories</a></li>
</ul>

{{fecha}}
<router-outlet></router-outlet> <!-- selector generico, pertenece a router module-->